<div class='container'>
  <div class='form-container-light' data-controller='file'>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart: true, method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class='form-inputs'>
        <div class='form-container'>
          <h3 class='form-block-title'> Utilisateur </h3>
          <div class="form-group user_avatar">
            <label>
              Avatar
            </label>
            <% if current_user.avatar.attached? %>
              <div class='display-flex'>
                <%= cl_image_tag current_user.avatar.key, class: 'form-avatar' %>
                <div class='form-input-file-container'>
                  <input class='form-input-file' type='file' name='user[avatar]' id='user_avatar' data-target='file.input' data-action='change->file#checkUpload'/>
                  <label for='user_avatar' data-target='file.label'><span>Choisir un autre avatar</span></label>
                  <%= link_to "Supprimer l'avatar", users_delete_avatar_path, method: :delete, class: 'form-delete-file' %>
                </div>
              </div>
            <% else %>
              <input class='form-input-file' type='file' name='user[avatar]' id='user_avatar' data-target='file.input' data-action='change->file#checkUpload'/>
              <label for='user_avatar' data-target='file.label'><span>Choisir un avatar</span></label>
            <% end %>
            
          </div>

          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>En attente de la confirmation de: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :current_password,
                      label: 'Password actuel',
                      hint: 'Nous avons besoin de votre password actuel pour confirmer les changements',
                      required: true,
                      input_html: {autocomplete: 'current-password'} %>
          <%= f.input :password,
                      label: 'Nouveau password',
                      hint:"Laissez-le vide si vous ne voulez pas le changer",
                      required: false,
                      input_html: {autocomplete: 'new-password'} %>
          <%= f.input :password_confirmation,
                      label: 'Confirmation du password',
                      required: false,
                      input_html: {autocomplete: 'new-password'} %>
        </div>
        
        <div class='form-container'>
          <h3 class='form-block-title'> Joueur </h3>
          <%= f.simple_fields_for :player do |p| %>
            <%= render 'players/player_form', f: p, autofill: true, edit: true %>
          <% end %>
        </div>
      </div>
      
      <div class="form-actions">
        <%= f.button :submit, "Actualiser", class: 'base-btn' %>
      </div>
    <% end %>

    <div class='form-extra-links' data-controller='modal'>
      <div class='terms-modal'  data-target='modal.modal' data-action='click->modal#hide'>
        <div class='terms-modal-content small'>
          <p> Es-tu sûr de vouloir supprimer ton compte? </p>
          <div class="display-flex">
            <a class='modal-link' rel="nofollow" data-method="delete" href="<%= registration_path(resource_name) %>">
              <div class='modal-btn'>Oui</div>
            </a>
            <div class='modal-secondary-btn'>Non</div>
          </div>
        </div>
      </div>
      <a data-action='click->modal#show'>Supprimer mon compte</a>
      <br>
      <%= link_to "Retour", :back %>
      <br>
    </div>

   </div>
</div>