<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { controller: 'affiliation' } } ) do |f| %>
  <%= f.error_notification %>

  <div class='form-inputs'>
    <%= f.input :avatar, as: :file %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: 'email' }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} caractères mininum" if @minimum_password_length),
                input_html: { autocomplete: 'new-password' } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: 'new-password' } %>
    
    <%= f.simple_fields_for :player do |p| %>
      <%= render 'players/player_form', f: p, autofill: true, edit: false  %>
      <%= p.simple_fields_for :ranking_histories do |rh| %>
        <%= render 'ranking_histories/ranking_history_form', f: rh,  edit: false %>
      <% end %>
    <% end  %>
  </div>

  <div class='form-actions'>
    <%= f.button :submit, 'Sign up' %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
