<div class='navbar-tennis'>
  <% if current_user %>
    <%= link_to image_tag('navbar/teqis.png', class: 'navbar-logo'), games_path %>
  <% else %>
    <%= link_to image_tag('navbar/teqis.png', class: 'navbar-logo'), root_path %>
  <% end %>
  <div class='navbar-right-section'>
    <% if current_user %>
      <div class='navbar-collapsable'>
        <% if current_user.admin %>
          <%= link_to('Admin', rails_admin_path, class: 'navbar-link')%>
          <div data-controller='dropdown' class='dropdown'>
            <div class='navbar-link' data-target='dropdown.button' data-action='click->dropdown#toggleVisibility' role='button' aria-haspopup='true' aria-expanded='false'> Validation </div>  
            <div data-target='dropdown.popup' class='dropdown-content'>
              <%= link_to('Joueur', players_validations_path, class: 'dropdown-link')%>
              <%= link_to('Tournoi', tournaments_validations_path, class: 'dropdown-link')%>
            </div>
          </div>
        <% end %>
        <div data-controller='dropdown' class='dropdown'>
          <div class='navbar-link' data-target='dropdown.button' data-action='click->dropdown#toggleVisibility' role='button' aria-haspopup='true' aria-expanded='false'> Encodage </div>  
          <div data-target='dropdown.popup' class='dropdown-content'>
            <%= link_to('Match', new_game_path, class: 'dropdown-link')%>
            <%= link_to('Tournoi', new_tournament_path, class: 'dropdown-link')%>
            <%= link_to('Joueur', new_player_path, class: 'dropdown-link')%>
          </div>
        </div>
        <%= link_to('Résultats', games_path, class: 'navbar-link') %>
        <%= link_to('Stats', stats_path, class: 'navbar-link') %>
        <%= link_to('Compare', compare_path, class: 'navbar-link') %>
        <%= link_to('Classement', ranking_histories_path, class: 'navbar-link') %>
      </div>
      <% if current_user.admin %>
        <div data-controller='dropdown' class='dropdown'>
          <%= image_tag 'navbar/check.png', class: 'navbar-check', 
                                                     data: { target:'dropdown.button', action: 'click->dropdown#toggleVisibility'}, 
                                                     role:'button', 
                                                     'aria-haspopup': 'true', 
                                                     'aria-expanded': 'false' %>
          <div data-target='dropdown.popup' class='dropdown-content'>
            <%= link_to('Joueur', players_validations_path, class: 'dropdown-link')%>
            <%= link_to('Tournoi', tournaments_validations_path, class: 'dropdown-link')%>
            <%= link_to('Admin', rails_admin_path, class: 'dropdown-link')%>
          </div>
        </div>
      <% end %>
      <div data-controller='dropdown' class='dropdown'>
        <%= image_tag 'navbar/add.png', class: 'navbar-plus', 
                                                     data: { target:'dropdown.button', action: 'click->dropdown#toggleVisibility'}, 
                                                     role:'button', 
                                                     'aria-haspopup': 'true', 
                                                     'aria-expanded': 'false' %>
        <div data-target='dropdown.popup' class='dropdown-content'>
          <%= link_to('Match', new_game_path, class: 'dropdown-link')%>
          <%= link_to('Tournoi', new_tournament_path, class: 'dropdown-link')%>
          <%= link_to('Joueur', new_player_path, class: 'dropdown-link')%>
        </div>
      </div>
      <div data-controller='dropdown' class='dropdown'>
        <%= image_tag 'navbar/menu.png', class: 'navbar-sandwich', 
                                                     data: { target:'dropdown.button', action: 'click->dropdown#toggleVisibility'}, 
                                                     role:'button', 
                                                     'aria-haspopup': 'true', 
                                                     'aria-expanded': 'false' %>
        <div data-target='dropdown.popup' class='dropdown-content'>
          <%= link_to('Résultats', games_path, class: 'navbar-link') %>
          <%= link_to('Stats', stats_path, class: 'navbar-link') %>
          <%= link_to('Compare', compare_path, class: 'navbar-link') %>
          <%= link_to('Classement', ranking_histories_path, class: 'navbar-link') %>
        </div>
      </div>
      <h6 class='navbar-points'> <%= current_user.player.ranking_histories.max_by{|ranking| ranking.start_date}.points %> pts</h6>
      <div data-controller='dropdown' class='dropdown'>
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, class: 'avatar', 
                                                    data: {target:'dropdown.button', action: 'click->dropdown#toggleVisibility'}, 
                                                    role: 'button', 
                                                    'aria-haspopup': 'true', 
                                                    'aria-expanded': 'false'  %>
        <% else %>
          <%= image_tag 'navbar/tennis_ball.svg', class: 'avatar', 
                                                            data: {target:'dropdown.button', action: 'click->dropdown#toggleVisibility'}, 
                                                            role:'button', 
                                                            'aria-haspopup': 'true', 
                                                            'aria-expanded': 'false'  %>
        <% end %>
        <div data-target='dropdown.popup' class='dropdown-content'>
          <%= link_to('Mon compte', edit_user_registration_path , class: 'dropdown-link') %>
          <%= link_to('FAQ', faq_path , class: 'dropdown-link') %>
          <%= link_to('Contact', new_contact_path , class: 'dropdown-link') %>
          <%= link_to('Déconnexion', destroy_user_session_path, method: :delete, class: 'dropdown-link') %>
        </div>
      </div>
    <% else %>
      <%= link_to('FAQ', faq_path , class: 'navbar-link') %>
      <%= link_to('Contact', new_contact_path , class: 'navbar-link') %>
      <%= link_to('Connexion', new_user_session_path , class: 'navbar-link') %>
      <%= link_to("S'inscrire", new_user_registration_path , class: 'navbar-link') %>
    <% end  %>
  </div>
</div>
