<div class='container'>
    <h1 class='faq-title'> FAQ </h1>

    <h2 class="faq-sub-title"> Quelles catégories de compétitions sont intégrées sur le site ? </h2>
    <p class="faq-text"> Le site ne fonctionne que pour les catégories adultes de tournoi et d’interclubs. </p>
    <p class="faq-text"> Seuls les tournois de simple sont intégrés. </p>
    <p class="faq-text"> Les joueurs et tournois flamands ne sont pas sur la plateforme à l’heure actuelle. </p>
    <p class="faq-text"> Toutefois cela ne vous empêche pas de rajouter un tournoi et un joueur absent de la plateforme. Nous allons y revenir ci-dessous. </p>

    <h2 class="faq-sub-title"> Comment rajouter un match contre un joueur flamand ?  </h2>
    <p class="faq-text"> Pour ce faire il faut d’abord créer le joueur car comme mentionné ci-dessus, tous les joueurs flamands ne sont pas présents sur notre plateforme.  </p>

    <h2 class="faq-sub-title"> Notre plateforme calcule-t-elle votre moyenne de points au fur et à mesure de vos encodages de matchs ? </h2>
    <p class="faq-text"> Oui à chaque encodage d’un match de tournoi ou interclub, nous recalculons votre nouvelle moyenne de points. 
                         Elle se trouve dans le coin supérieur droit à côté de la balle de tennis.  </p>
    <%= image_tag "faq/nbr_points.png", class:"faq-img" %>
    <p class="faq-text"> Celle-ci vous permettra de vous comparer avec d’autres joueurs de tennis.  </p>
    <p class="faq-text"> Toutefois, elle ne permet pas avant la fin de saison et la création des grilles de points par l’Aft et la Vtv de déterminer si vous monterez, 
                         descendrez ou vous maintiendrez.  </p>

    <h2 class="faq-sub-title"> Comment se fait-il que je n’ai pas les statistiques concernant les surfaces de match de mes résultats 2020? </h2>
    <p class="faq-text"> Comme nous avons préencodés tous les résultats de vos matchs 2020, la surface du terrain sur laquelle vous avez joué n’est évidemment 
                         pas présente dans les statistiques car elle n’est pas renseignée. </p>
    <p class="faq-text"> Si vous souhaitez mettre à jour vos résultats 2020 avec chaque surface, c’est tout à fait possible. Il vous suffit de modifier 
                         les matchs de 2020 et de rajouter la surface du terrain sur laquelle vous avez joué. </p>

    <h2 class="faq-sub-title"> Comment se fait-il que je n’ai pas les statistiques concernant les tie-breaks de mes matchs joués en 2020?  </h2>
    <p class="faq-text"> Comme nous avons préencodés tous les résultats de vos matchs 2020, les tie-breaks ne sont pas automatiquement considérés 
                         comme tel pour les matchs 2020. Si vous souhaitez mettre à jour vos résultats 2020 avec les statistiques comprenant les tie-breaks, c’est tout à fait possible.
                         Il vous suffit de modifier les matchs de 2020 et de réencoder le score avec le tie-break et le score de celui-ci. </p>
    
    <h2 class="faq-sub-title"> Comment se fait-il que je n’ai pas les statistiques concernant mes victoires contre les gauchers ou droitiers ? </h2>
    <p class="faq-text"> Pour avoir ces statistiques, il faut que votre adversaire ait un compte sur Teqis. Il nous est impossible autrement de savoir s’il est gaucher ou droitier.
                         Dès que vos adversaires auront créé leur compte, vos statistiques seront automatiquement mises à jour.  </p>
 
 
    <h1 class='faq-title'> Formulaire de contact </h1>

    <p class="faq-text"> Si vous rencontrez un problème ou vous avez une question complémentaire qui n’a pas été solutionnée ci-dessus, 
                         cliquez sur la balle de tennis en haut à droite et sélectionnez contact.  </p>
    <p class="faq-text"> Remplissez les différents champs et dites-nous pourquoi vous nous contactez. </p>
    <%= image_tag "faq/contact.png", class:"faq-img" %>


    <h1 class='faq-title'> Tutoriel </h1>

    <h2 class="faq-sub-title"> Rajout d’un match de tournoi </h2>
    <p class="faq-text"> Cliquez sur l’onglet + puis sur Match. </p>
    <%= image_tag "tutorial/match_menu.png", class:"faq-img" %>
    <p class="faq-text"> Remplissez les infos demandées : </p>
    <p class="faq-text"> <b> Club : </b> Sélectionnez le club du tournoi où vous jouez. </p>
    <p class="faq-text"> <b> Catégorie : </b> Sélectionnez la catégorie où vous êtes inscrit. </p>
    <p class="faq-text"> <b> Date du tournoi : </b> Sélectionnez la semaine du tournoi où vous participez. </p>
    <p class="faq-text"> <b> Date du match : </b> Encodez la date exacte de votre match. </p>
    <p class="faq-text"> <b> Statut : </b> Sélectionnez <b>Terminé</b> si vous avez fini le match, 
                         <b>Abandon</b> s’il y a eu un abandon de votre part ou de l’adversaire et que le match n’a pas pu aller à son terme ou
                         <b>WO</b> si le match n’a pas eu lieu, un des deux joueurs ayant déclaré forfait avant le match. </p>
    <p class="faq-text"> <b> Tour: </b> Sélectionnez à quel stade du tournoi vous avez joué votre adversaire. </p>
    <p class="faq-text"> <b> Terrain : </b> Sélectionnez la surface sur laquelle vous avez joué. Cochez Indoor si vous avez joué à l’intérieur. </p>
    <p class="faq-text"> <b> Adversaire : </b> Sélectionnez l’adversaire contre qui vous avez joué. </p>
    <p class="faq-text"> <b> Victoire : </b> Cochez cette case si vous avez gagné votre match. </p>
    <p class="faq-text"> <b> Sets : </b> Encodez les scores de vos sets ainsi que les tie-breaks si vous en avez joué. </p>
    <p class="faq-text"> <b> Ajouter : </b> Appuyez sur ajouter pour valider l’enregistrement du match ou sur ajouter un autre pour encoder un second match du même tournoi. </p>


    <h2 class="faq-sub-title"> Rajout d’un match d'interclub </h2>
    <p class="faq-text"> Cliquez sur l’onglet <%= image_tag "tutorial/plus_menu.png", class:"faq-icon" %> puis sur Match. </p>
    <%= image_tag "tutorial/match_menu.png", class:"faq-img" %>
    <p class="faq-text"> Sélectionnez Interclub puis remplissez les infos demandées : </p>
    <p class="faq-text"> <b> Division : </b> Sélectionnez la catégorie dans laquelle vous jouez. </p>
    <p class="faq-text"> Pour le reste de l’encodage voyez rajout d’un match de tournoi qui est identique. </p>

    <!--
    <h2 class="faq-sub-title"> Rajout d’un tournoi </h2>
    <p class="faq-text"> Cliquez sur l’onglet <%= image_tag "tutorial/plus_menu.png", class:"faq-icon" %> puis sur Tournoi </p>
    <%= image_tag "tutorial/tournament_menu.png", class:"faq-img" %>
    <p class="faq-text"> Remplissez les infos demandées : </p>
    <p class="faq-text"> <b> Club: </b> Sélectionnez le club où a lieu le tournoi. </p>
    <p class="faq-text"> <b> Catégorie : </b> Sélectionnez la catégorie du tournoi dans laquelle vous êtes inscrit. </p>
    <p class="faq-text"> <b> Début: </b> Encodez la date de début du tournoi. </p>
    <p class="faq-text"> <b> Fin : </b> Encodez la date de fin du tournoi. </p>
    <p class="faq-text"> <b> Nombre d’inscrits : </b> Encodez le nombre d’inscrits dans votre catégorie. Cela est important pour calculer correctement votre moyenne de points. </p>
    <p class="faq-text"> <b> Créer  : </b> Appuyez ensuite sur créer pour valider la création du tournoi. </p>
    -->

    <h2 class="faq-sub-title"> Rajout d’un joueur </h2>
    <p class="faq-text"> Cliquez sur l’onglet <%= image_tag "tutorial/plus_menu.png", class:"faq-icon" %> puis sur Joueur </p>
    <%= image_tag "tutorial/player_menu.png", class:"faq-img" %>
    <p class="faq-text"> Remplissez les infos demandées : </p>
    <p class="faq-text"> <b> Numéro d’affiliation: </b> Encodez le numéro d'affiliation. </p>
    <p class="faq-text"> <b> Prénom : </b> Encodez le prénom de votre adversaire.  </p>
    <p class="faq-text"> <b> Nom : </b> Encodez le nom de votre adversaire. </p>
    <p class="faq-text"> <b> Club : </b> Encodez le club de votre adversaire. S’il s’agit d’un club flamand, allez au bas de la liste et sélectionnez <b> Flandre </b>. </p>
    <p class="faq-text"> <b> Date d’anniversaire : </b> Si vous ne la connaissez pas, laissez cette case vide. </p>
    <p class="faq-text"> <b> Sexe  : </b> Appuyez ensuite sur créer pour valider la création du tournoi. </p>
    <p class="faq-text"> <b> Main dominante  : </b> Appuyez ensuite sur créer pour valider la création du tournoi. </p>
    <p class="faq-text"> <b> Classement  : </b> Appuyez ensuite sur créer pour valider la création du tournoi. </p>

    <h2 class="faq-sub-title"> Visionnage de ses résultats et ceux d’autres joueurs </h2>
    <p class="faq-text"> Cliquez sur l’onglet <%= image_tag "tutorial/sandwich_menu.png", class:"faq-icon" %> puis sur Résultats </p>
    <%= image_tag "tutorial/results_menu.png", class:"faq-img" %>
    <%= image_tag "tutorial/results_page.png", class:"faq-img" %>
    <p class="faq-text"> <b> Cherche un joueur : </b> Vous pouvez regarder les résultats de tous les joueurs en faisant une recherche. 
                             Toutefois pour l’année en cours, si le joueur n’a pas créé de compte, les statistiques seront vides. </p>
    <p class="faq-text"> <b> 2020 : </b> Vous pouvez sélectionner l’année des résultats que vous voulez visionner.
                             Si vous sélectionnez la case vide, vous aurez accès à tous les résultats de toutes les années combinées.  </p>
    <p class="faq-text"> <b> Valider / Modifier/Supprimer : </b> Vous pouvez valider le résultat d'un match qui a été encodé par un adversaire. Vous pouvez modifier un match où vous avez fait une erreur lors de l’encodage. 
                             Si vous vous êtes trompé, vous pouvez également décider de supprimer un match. Attention, une fois le match supprimé, vous ne pouvez pas le récupérer. </p>

    <h2 class="faq-sub-title"> Visionnage de ses statistiques et celles d’autres joueurs </h2>
    <p class="faq-text"> Cliquez sur l’onglet <%= image_tag "tutorial/sandwich_menu.png", class:"faq-icon" %> puis sur Résultats </p>
    <%= image_tag "tutorial/stats_menu.png", class:"faq-img" %>
    <%= image_tag "tutorial/stats_page.png", class:"faq-img" %>
    <p class="faq-text"> <b> Cherche un joueur : </b> Vous pouvez regarder les statistiques de tous les joueurs en faisant une recherche. 
                             Toutefois pour l’année en cours, si le joueur n’a pas créé de compte, les statistiques seront vides. </p>
    <p class="faq-text"> <b> 2020 : </b> Vous pouvez sélectionner l’année des statistiques que vous voulez visionner.
                             Si vous sélectionnez la case vide, vous aurez accès à toutes les statistiques de toutes les années combinées.  </p>

    <h2 class="faq-sub-title"> Visionnage de ses statistiques et celles d’autres joueurs </h2>
    <p class="faq-text"> Cliquez sur l’onglet <%= image_tag "tutorial/sandwich_menu.png", class:"faq-icon" %> puis sur Stats </p>
    <%= image_tag "tutorial/stats_menu.png", class:"faq-img" %>
    <%= image_tag "tutorial/stats_page.png", class:"faq-img" %>
    <p class="faq-text"> <b> Cherche un joueur : </b> Vous pouvez regarder les statistiques de tous les joueurs en faisant une recherche. 
                             Toutefois pour l’année en cours, si le joueur n’a pas créé de compte, les statistiques seront vides. </p>
    <p class="faq-text"> <b> 2020 : </b> Vous pouvez sélectionner l’année des statistiques que vous voulez visionner.
                             Si vous sélectionnez la case vide, vous aurez accès à toutes les statistiques de toutes les années combinées.  </p>

    <h2 class="faq-sub-title"> Comparez vos statistiques avec des joueurs de votre choix </h2>
    <p class="faq-text"> Cliquez sur l’onglet <%= image_tag "tutorial/sandwich_menu.png", class:"faq-icon" %> puis sur Compare </p>
    <%= image_tag "tutorial/compare_menu.png", class:"faq-img" %>
    <%= image_tag "tutorial/compare_page.png", class:"faq-img" %>
    <p class="faq-text"> <b> Cherche un joueur : </b> Vous pouvez comparer vos statistiques avec celles de tous les joueurs en le recherchant. 
                             Toutefois pour l’année en cours, si le joueur n’a pas créé de compte, les statistiques seront vides. </p>
    <p class="faq-text"> <b> 2020 : </b> Vous pouvez sélectionner l’année des statistiques que vous voulez visionner.
                             Si vous sélectionnez la case vide, vous aurez accès à toutes les statistiques de toutes les années combinées.  </p>

    <h2 class="faq-sub-title"> Regardez tous vos anciens classements depuis 2020 </h2>
    <p class="faq-text"> Cliquez sur l’onglet <%= image_tag "tutorial/sandwich_menu.png", class:"faq-icon" %> puis sur Classement </p>
    <%= image_tag "tutorial/ranking_menu.png", class:"faq-img" %>
    
</div>