<div class="tournament-header">
  <% if competition_type == 'tournament' %>
    <div class="display-flex space-between align-center">
      <h4 class="tournament-name"><%= "#{competition[:club]}" %></h4>
      <h4 class="tournament-date"><%= "#{competition[:dates]}" %></h4>
    </div>
    <h6 class="tournament-category"><%= "#{competition[:category]}" %></h6>
  <% else %>
    <h4 class="tournament-name"><%= "#{competition[:division]}" %></h4>
  <% end %>
</div>
  
<table class="tournament-table">
  <tr>
    <th class="th-round"> <%= competition_type == 'tournament' ? 'Tour' : 'Date' %></th>
    <th class="th-victory">V-D</th>
    <th class="th-ranking">Classement</th>
    <th class="th-opponent">Adversaire</th>
    <th class="th-status">Status</th>
    <th class="th-score">Score</th>
    <th class="th-actions">Actions</th>
  </tr>
  <% competition[:games].each do |game| %>
    <tr>
      <td><%= competition_type == 'tournament' ? "#{game[:round].capitalize.gsub('_','/')}" : game[:date].strftime("%d-%m-%Y")  %></td>
      <% if game[:victory] %>
        <td>V</td>
      <% else %>
        <td>D</td>
      <% end %>
      <td><%= "#{game[:ranking]}" %></td>
      <td><%= "#{game[:name]}" %></td>
      <% if game[:status] == 'completed' %>
        <td>Terminé</td>
      <% elsif game[:status] == 'WO' %>
        <td>W.O.</td>
      <% elsif game[:status] == 'retirement' %>
        <td>Abandon</td>
      <% end %>
      <td><%="#{game[:score]}" %></td>
      <td>
        <% if competitions.first[:games].first[:player_name] == PlayerDecorator.new(@user_player).player_description ||
          game[:name] == PlayerDecorator.new(@user_player).full_name %>
           <div class="display-flex justify-center align-center"  data-controller='modal'>
            <% unless game[:validated] %>
              <a data-method="post" data-remote="true" href="<%= game_validate_path(game[:game]) %>" class="fas fa-check tournament-action"></a> | 
            <% end %>
            <a data-method="get" href="<%= edit_game_path(game[:game]) %>" class="fas fa-edit tournament-action"></a> |
          
            <div class='terms-modal'  data-target='modal.modal' data-action='click->modal#hide'>
              <div class='terms-modal-content small'>
                <p> Es-tu sûr de vouloir supprimer ce match? </p>
                <div class="display-flex">
                  <a class='modal-link' rel="nofollow" data-method="delete" href="<%= game_path(game[:game]) %>">
                    <div class='modal-btn'>Oui</div>
                  </a>
                  <div class='modal-secondary-btn'>Non</div>
                </div>
              </div>
            </div>
            <i class="fas fa-trash tournament-action" data-action='click->modal#show'></i>
            
          </div>
        <% end %>
      </td> 
    </tr>
  <% end %>
</table>
