<% structured_output.each do |tournament| %>
    <h2><%= "#{tournament[:club]} - #{tournament[:category]} - #{tournament[:dates]}" %></h2>
    <% tournament[:games].each do |game| %>
        <div class='display-flex'>
        <% if game[:status] == 'completed' %>
            <h6><%= "#{game[:date]} - #{game[:name]} - #{game[:ranking]} - #{game[:score]}"%></h6>
        <% elsif game[:status] == 'WO' %>
            <h6><%= "#{game[:date]} - #{game[:name]} - #{game[:ranking]} - #{game[:victory]} - WO" %></h6>
        <% elsif game[:status] == 'retirement' %>
            <h6><%= "#{game[:date]} - #{game[:name]} - #{game[:ranking]} - #{game[:victory]} - Blessure - #{game[:score]}" %></h6>
        <% end %>
        <% unless game[:validated] %>
          <%= simple_form_for(game[:game], remote: true, url: game_validate_path(game[:game]), method: :post) do |f| %>
              <%= f.submit 'Valide' %>
          <% end %>
        <% end %>
        <%= link_to "Modifie", edit_game_path(game[:game]), method: :get %>
        <%= link_to "Delete", game_path(game[:game]), method: :delete %>
        </div>
    <% end %>
<% end %>
