<%= simple_form_for(@form, url: (@form.persisted? ? game_path(@form.id) : games_path), 
                           method: (@form.persisted? ? 'patch': 'post'),
                           html: {data: {controller: 'cascading sets autocomplete'}}) do |f| %>

  <%= render 'game_type_toggle'%>
  
  <div class="interclub-block <%= (@form.game_type == "true") ? "visibility-off" : "" %>" data-target='cascading.interclub'>
    <%= f.input :interclub_id, label: 'Division',
                              collection: @interclubs,
                              input_html: {data: {target:'cascading.division'}},
                              disabled: @form.game_type == "true" %>
  </div>

  <div class="tournament-block <%= (@form.game_type == "true") ? "" : "visibility-off" %>" data-target='cascading.tournament'>
    <%= f.input :club, label: 'Club',
                      collection: @clubs, 
                      input_html: {data: {target:'cascading.club', action:'cascading#autofill'}} %>

    <%= f.input :category, label: 'Catégorie', 
                          collection: (@categories.nil? ? [] : @categories), 
                          input_html: {data: {target:'cascading.category', action:'cascading#autofill' }}, 
                          disabled: @form.club.blank? %>

    <%= f.input :tournament_id, label: 'Date du tournoi', 
                                collection: (@tournament_dates.nil? ? [] : @tournament_dates), 
                                input_html: {data: {target:'cascading.date'}}, 
                                disabled: @form.category.blank? %>
  </div>

  <%= f.input :date, label: 'Date du match', as: :date, html5: true %>

  <%= f.input :status, label: 'Statut', 
                              collection: [['Terminé','completed'], ['Blessure', 'retirement'],['WO','wo']],
                              input_html: { data: { target:'sets.status', action:'sets#setsHandler' }} %>
                              
  <%= f.input :round_id,  label: 'Tour',
                       collection: @rounds %>

  <%= f.input :player_id, as: :hidden , 
                          input_html: { value: (@form.player_id.blank? ? current_user.player.id : @form.player_id), name: 'game_form[player_id]'} %>

  <div class='form-flex form-court'>
    <%= f.input :court_type_id, label: 'Terrain',
                                collection: @courts %>
    <%= f.input :indoor, label: 'Indoor?',  as: :boolean %>
  </div>

  <%= f.input :opponent, label: 'Adversaire', 
                         wrapper_html: {class: 'autocomplete', data: {target:'autocomplete.wrapper'}},
                         input_html: {autocomplete:'off', data: {target:'autocomplete.autocomplete', action:'input->autocomplete#autocomplete'}} %>

  <%= f.input :victory, label: 'Victoire?', as: :boolean %>
  
  <table class='score-table'>
    <tr>
      <th class="th-set-1-1">Set 1</th>
      <th class="th-set-1-2"></th>
      <th class="th-set-2-1">Set 2</th>
      <th class="th-set-2-2"></th>
      <th class="th-set-3-1 visibility-off" data-target='sets.label'>Set 3</th>
      <th class="th-set-3-2"></th>
    </tr>
    <tr>
      <% (1..3).each do |set_number| %>
        <%= render 'set_form_component', f: f, set_number: set_number  %>
      <% end %>
    </tr>
    <tr>
      <% (1..3).each do |set_number| %>
        <%= render 'tie_break_component', f: f, set_number: set_number  %>
      <% end %>
    </tr>
  </table>

  <div class='form-flex score'>
    
  </div>

  <%= f.input :match_points_saved, label: 'Balles de match sauvées',
                                   as: :integer,
                                   input_html: {value: (@form.match_points_saved.blank? ? 0 : @form.match_points_saved)}, 
                                   wrapper_html: {hidden: true, data: {target:'sets.match_points_saved'}} %>

  <div class="form-actions">
    <div class='form-flex justify-center'>
      <% if @form.persisted? %>
        <%= f.button :submit, 'Actualiser', class:'base-btn' %>
      <% else %>
          <%= f.button :submit, 'Ajouter', class:'base-btn' %>
          <%= f.button :submit, 'Ajouter un autre', type: 'submit', name: 'create_and_add', class:'secondary-btn' %>
      <% end %>
    </div>
  </div>
<% end %>