<div class='container'>
  <div class='form-container'>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, label: 'Se rappeller', as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Connexion", class: 'base-btn' %>
        </div>
      <% end %>

      <div class='form-extra-links'>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Password oublié?", new_password_path(resource_name) %><br />
        <% end %>

        <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
          <%= link_to "Email de confirmation pas reçu?", new_confirmation_path(resource_name) %><br />
        <% end %>
      </div>
  </div>
</div>
