<% if @player.present? %>
   <h1 class='page-header'><%= "Statistiques - #{PlayerDecorator.new(@player).player_description}" %></h1>
   <div data-controller='canvas'>
      <%= render 'stats_header.html.erb' %>
      <%= render 'stats_rankings.html.erb', title: 'Par Classement', query_data: @query.get_wins_by_ranking(nil, @year) %>
      <%= render 'stats_category.html.erb', title: 'Nombre de Sets', query_data: @query.get_wins_losses_nbr_sets(nil, nil, @year), 
                                 img_url: 'scoreboard_2_p4rgdp.png' %>
      <%= render 'stats_category.html.erb', title: 'Tournois', query_data: @query.get_wins_losses_by('tournament', nil, @year), 
                                 img_url: 'Wins_zg1lo9.png' %>
      <%= render 'stats_category.html.erb', title: 'Main Dominante', query_data: @query.get_wins_losses_by('dominant_hand', nil, @year), 
                                 img_url: 'Racket_G_yyteyc.png' %>
      <%= render 'stats_category.html.erb', title: 'Indoor/Outdoor', query_data: @query.get_wins_losses_by('indoor', nil, @year),
                                 img_url: 'inside_outside_zxlnwd.png' %>
      <%= render 'stats_category.html.erb', title: 'Type de Terrain', query_data: @query.get_wins_losses_by('court_type', nil, @year),
                                 img_url: 'surface_ln6pqz.png' %>
      <%= render 'stats_category.html.erb', title: 'Tie-Breaks', query_data: @query.get_wins_losses_tie_breaks(nil, @year),
                                 img_url: 'tie-break_yhnjgh.png' %>
      <%= render 'stats_match_points.html.erb', title: 'Balles de Match', saved: @query.get_match_points(true, @year), missed: @query.get_match_points(false, @year),
                                    img_url: 'balle_de_matchs_rhexxs.png' %>
      <%= render 'stats_tournaments.html.erb', title: 'Tournois', tournaments: @query.get_tournament_won(@year), img_url: 'trophy_xel8ay.png' %>
   </div>
<% else %>
  <h1 class='page-header'>Joueur non disponible</h1>
<% end %>