<h3 id='player-name'><%= PlayerDecorator.new(@user_player).player_description %></h3>
<div data-controller='canvas'>
   <div class="stats-header display-flex space-between">
      <div class="display-flex align-center">
         <%= cl_image_tag("#{@player.gender == 'male' ? 'tennis-player_v83xbq.png' : 'girl_abdhti.png'}", 
                          class: 'stats-avatar-img') %>
      </div>
      <%= render 'stats_wins_losses', wins: @query.get_nbr_wins_losses(true,  @year),
                                      losses: @query.get_nbr_wins_losses(false,  @year) %>
   </div>
   
   <%= render 'stats_category', title: 'Nombre de Sets', query_data: @query.get_wins_losses_nbr_sets(nil, nil, @year), 
                                img_url: 'Wins_zg1lo9.png' %>
   <%= render 'stats_category', title: 'Tournois', query_data: @query.get_wins_losses_by_tournament(nil, @year), 
                                img_url: 'Wins_zg1lo9.png' %>
   <%= render 'stats_category', title: 'Main Dominante', query_data: @query.get_wins_losses_dominant_hand(nil, @year), 
                                img_url: 'Racket_G_yyteyc.png' %>
   <%= render 'stats_category', title: 'Indoor/Outdoor', query_data: @query.get_wins_losses_indoor(nil, @year),
                                img_url: 'inside_outside_zxlnwd.png' %>
   <%= render 'stats_category', title: 'Type de Terrain', query_data: @query.get_wins_losses_by_court_type(nil, @year),
                                img_url: 'surface_ln6pqz.png' %>
  

   <br>
   <% @query.get_wins_by_ranking(true, @year).each do |k, v|%>
      <h6>Match Gagnes contre:  <%= k %> : <%= v %> </h6>
   <% end %>
   <br>
   <% @query.get_wins_by_ranking(false, @year).each do |k, v|%>
      <h6>Match Perdus contre:  <%= k %> : <%= v %> </h6>
   <% end %>
   <br>
   <h6>Balles de Match sauvees / non converties : <%= @query.get_match_points(true, @year) %> / <%= @query.get_match_points(false, @year) %> </h6>
   
   <h6>Finales Gagnees / Perdues : <%= @query.get_rounds_won_lost(true, 'finale', @year) %> / <%= @query.get_rounds_won_lost(false, 'finale', @year) %> </h6>
</div>
