<% content_for :meta_title, "Teqis - Rajoute un joueur de tennis" %>
<% content_for :meta_description, "Rajoute en quelques secondes un nouveau joueur." %>

<div class='container'>
  <div class='form-container'>
    <%= simple_form_for(@player, method: 'post') do |f| %>
      <%= render 'player_form', f: f, autofill: false, edit: false %>
      <%= f.simple_fields_for :ranking_histories do |rh| %>
        <%= render 'ranking_histories/ranking_history_form', f: rh,  edit: false %>
      <% end %>
      <div class="form-actions">
        <%= f.button :submit, 'Créer', class:'base-btn' %>
      </div>
    <% end %>
  </div>
</div>